.chat-side {
  width: 300px;
  color: $white;
}

.side-header {
  background-color: $side_blue_dark;
  height: 100px;
  display: flex;
  align-items: center;
  &__box {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__user-name {
      font-size: 16px;
      font-weight: bold;
      color: $white;
    }
    &__menu__icon {
      color: $white;
    }
  }
}

.side-group {
  background-color: $side_blue_light;
  height: calc(100vh - 100px);
  padding: 20px 20px 0;
  box-sizing: border-box;
  overflow: scroll;
  &__box {
    margin-bottom: 40px;
    &__group-name {
      font-size: 15px;
      font-weight: bold;
      color: $white;
      margin-bottom: 5px;
    }
    &__message {
      font-size: 11px;
      font-weight: bold;
      color: $white;
    }
  }
}